html {
    scroll-behavior: smooth;
}

body{
    background-color: rgba(177, 0, 0, 0.014);
    padding: 0;
    font-family: Helvetica, sans-serif;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}
#logo{
    font-family: Helvetica, sans-serif;
    color: ivory;
}
section h2{
    margin-top: 10px;
    text-align: center;
}


.logo-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.692);
}
nav ul {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;

}

.header-slider{
    overflow: hidden;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);
}

.promo{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.promo-video{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 80%;
    height: 315px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);

}

.promo-video iframe{
    width: 100%;
    height: 100%;
}


.container-with-photo-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contaiber-photo-overflov{
    transition-duration: 300ms;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);
}

.contaiber-photo-overflov>a>img{
    width: 100%;
    height: auto; 
    transition-duration: 300ms;
}

.contaiber-photo-overflov>a>img:hover{
    transition-duration: 300ms;
    transform: scale(1.1, 1.1);
}

.feedback-form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-content: center;
    
}

.checkboxCategory{
    width: 20px;
    height: 20px;
    margin: 10px auto;
    transition-duration: 300ms;
}

.checkboxCategory:hover{
    transition-duration: 300ms;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);
}

label span{
    font-size: 1.16rem;
}

.feedback-form-label label{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.feedback-form-label input{
    transition-duration: 300ms;
    border: solid 1px rgba(0, 0, 0, 0.692);
}

.feedback-form p{
    width:100%; 
    text-align: center; 
    font-size: 1.16rem;
}

.feedback-form-label input:hover, .feedback-form-label input:focus, .feedback-form textarea:hover, .feedback-form textarea:focus{
    transition-duration: 300ms;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);
}

.feedback-form textarea{
    transition-duration: 300ms;
    height: 220px;
    border: solid 1px rgba(0, 0, 0, 0.692);
}

.submit{
    display: flex;
    justify-content: flex-end;
}

.feedback-form input[type="submit"]{
    max-width: 100px;
    transition-duration: 300ms;
    border: solid 1px rgba(0, 0, 0, 0.692);

}

.feedback-form input[type="submit"]:hover{
    transition-duration: 300ms;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.582);
}

footer{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials{
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.socials img{
    width: 100%;
    height: auto;
}

#telephone {
    text-decoration: none;
    padding-top: 10px;
    color: white;
}

#telephone>a{
    text-decoration: none;
    color: white;
}

@media (min-width: 550px){
    .logo-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav{
        margin-top: 15px;
    }

    nav ul {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
    }

    .promo{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .container-with-photo-category{
        display: flex;
        flex-direction: row;
    }

    .contaiber-photo-overflov{
        margin: 30px;
    }
    
    .feedback-form-label label{
        flex-direction: row;
    }

    .promo-video{
        flex-basis: 40%;
        margin: 10px;
    }

    footer{
        justify-content: space-around;
        flex-direction: row;
    }

}

input:invalid {border-color: red;}
